.colorspots-container {
  z-index: auto;
  text-align: center;
  padding-top: 1em;
}

/*
Fixed location color spots
.colorspots-container {
    position: fixed;
    bottom: 30px;
    left: 30px;
    z-index: 1000;
}
*/

.colorspot {
    border-radius: 1.7em;
    width: 1.7em;
    height: 1.7em;
    display: inline-block;
}

.spot-one {
    background-color: #f92aaf;
}

.spot-two {
    background-color: #418FFD;
}

.spot-three {
    background-color: #ffc100;
}

.spot-four {
    background-color: firebrick;
}
.spot-five {
    background-color: black;
}

.bf-container {
    width: 170px;
    margin: 0 auto;
}

.container--ph {
    height: 0;
    padding-top: 216px;
    position: relative;
}

.svg--responsive {
    position: absolute;
    top: 0;
    left: 0;
}

.vc_desktop:not(.IE) #Banana  {
    stroke-dasharray: 1364;
    stroke-dashoffset: 1364;
    -webkit-stroke-dasharray: 1364;
    -webkit-stroke-dashoffset: 1364;
    animation: dash 2s linear forwards;
    -webkit-animation: dash 2s linear forwards;
    /** animation: dash 5s linear alternate infinite; */
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
        -webkit-stroke-dashoffset: 0;
    }
}

@-webkit-keyframes {
    to {
        stroke-dashoffset: 0;
        -webkit-stroke-dashoffset: 0;
    }
}
